{% extends 'base.html' %}

{% load my_templatetags %}


{% block content %}

  <h1>About Me</h1>
  <p>¡Hola! Mi nombre es Martín. Durante mi periodo cursado en Codehouse he tenido la posibilidad de introducirme en el mundo del lenguaje de programación con Python. Desde ya, no tenia idea de que se tratba y consultando a amigos con conocimientos de programacion, me insentivaron a realizar el curso. He adquirido experiencia y estoy emocionado de compartir mis conocimientos contigo.</p>
  <p>Siempre estoy buscando nuevos desafíos y oportunidades para aprender y crecer profesionalmente. Me encanta el diseño, ai que mis prximas metas apuntaran hacía el mundo del diseño UX/UI..</p>
  <p>Asi como te he contado sobre mi, tu puedas hacer lo mismo dejando tu post, esto es de gran ayuda para aquellos que necesitan una motivación u orientación profesional. Muchas gracias</p>

{% endblock %}


