{% extends 'base.html' %}
{% load my_templatetags %}

{% block content %}

  <h1>Leave your interesting article here, commenting something about yourself</h1>
  <br>
  
  <h2>Navigation</h2>
  <select onchange="window.location.href=this.value">
    <option value="">Select an option</option>
    <option value="{% url 'create_article' %}">Create Article</option>
    <option value="{% url 'article_list' %}">Article List</option>
    <option value="{% url 'article_edit' %}">Article Edit</option>
    <option value="{% url 'article_delete' %}">Delete Article</option>
    <option value="{% url 'article_confirm_delete' %}">Confirm Delete</option>
    
     
  </select>
  
{% endblock %}